name: presubmit
on:
  push:
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  presubmit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check dependencies and format
        run: scripts/format && { [[ -z "$(git status --porcelain)" ]] || exit 1; }
      - name: bazel test //...
        env:
          # Bazelisk will download bazel to here, ensure it is cached within tests.
          XDG_CACHE_HOME: /home/runner/.cache/bazel-repo
        run: bazel --bazelrc=.github/workflows/ci.bazelrc --bazelrc=.bazelrc test //...
